* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rows: 3;
  --columns: 3;
}

.container {
  position: relative;
  margin: 5% auto;
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: black;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
}